apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-b
  namespace: demo-app
  labels:
    app: service-b
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-b
  template:
    metadata:
      labels:
        app: service-b
    spec:
      containers:
        - name: service-b
          image: ghcr.io/Flymnt/demo-app-service-b:latest # TODO update later
          ports:
            - containerPort: 8082
          readinessProbe:
            httpGet:
              path: /health
              port: 8082
            initialDelaySeconds: 3
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: service-b
  namespace: demo-app
spec:
  selector:
    app: service-b
  ports:
    - port: 80
      targetPort: 8082
      protocol: TCP
