apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
  namespace: demo-app
  labels:
    app: service-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
    spec:
      containers:
        - name: service-a
          image: ghcr.io/Flymnt/demo-app-service-a:latest # TODO update later
          ports:
            - containerPort: 8081
          readinessProbe:
            httpGet:
              path: /health
              port: 8081
            initialDelaySeconds: 3
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: service-a
  namespace: demo-app
spec:
  selector:
    app: service-a
  ports:
    - port: 80
      targetPort: 8081
      protocol: TCP
