name: PR Checks

on:
  pull_request:
    branches:
      - main

jobs:
  go-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Go build
        run: go build ./...

      - name: Go test
        run: go test ./...
